html
    head
        meta(charset=utf-8)
        title 学生管理系统
        link(rel="stylesheet", href="/css/reset.css")
        block link
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    body
        block content