//- 继承
extends head.pug
block link
    link(rel="stylesheet", href="/css/index.css")
block content
    div.content
        h1 学生管理系统
        ul.buts
            li
                a(href="/addStudent") 添加学生
            li
                a(href="/checkStudent") 查找学生
            li
                a(href="/removeStudent") 删除学生
            li
                a(href="/updateStudent") 更新学生信息
        br
        table
            thead
                tr
                    td 姓名
                    td 性别
                    td 语文
                    td 数学
                    td 英语
            tbody#tbody
                tr
                    td 刘钰城
                    td 男
                    td 100
                    td 100
                    td 100
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    script(src="/js/index.js")