extends head.pug
block link
    link(rel="stylesheet", href="/css/showRemove.css")
block content
    .content
        h1 删除学生
        table
                thead
                    tr
                        td 姓名
                        td 性别
                        td 语文
                        td 数学
                        td 英语
                tbody#tbody
                    tr
                        td 刘钰城
                        td 男
                        td 100
                        td 100
                        td 100
        .removestu  
            span 要删除的学生姓名
            input(type="text" name="name")
            input(type="button" value="删除")
            br
            a(href="/") 回到首页
            
    script(src="/js/showRemove.js")