*{
    padding:0px;
    margin:0px;
}
a{
    text-decoration: none;
    color:inherit;
}
li{
    list-style:none;
}

.content{
    width: 60%;
    margin:0 auto;
    text-align:center;
}

.buts{
    display:flex;
    width: 100%;
    justify-content: space-between;
}
.buts > li{
    padding:0px 10px;
}
.buts > li > a:hover {
    color:red;
}

table{
    border-collapse:collapse;
    text-align:center;
    width: 100%;
}
td{
    border:1px solid black;
}